<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Interface (LIFS-TARS)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div class="container1">
    <h1>Visualizar Arquivos</h1>

    <label for="reator">Selecionar Reator:</label>
    <select id="reator" onchange="carregarArquivos()">
      <option value="reator1">Reator 1</option>
      <option value="reator2">Reator 2</option>
    </select>

    <div id="lista-arquivos" class="lista-arquivos"></div>

    <button id="voltar" class="voltar" onclick="window.location.href='gerador.html'">📄Novo</button>
    <button onclick="window.location.href='arquivos.html'">📁Arquivos Gerais</button>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
