body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.graficos-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px auto;
  max-width: 100%;
  width: 100%;
}

.graficos-container canvas {
  flex: 1 1 400px;
  max-width: 500px;
  width: 90%;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#graficoEspectro {
  flex: 1 1 100%;
  max-width: 1030px;
  width: 1030px;
  height: 400px;
  display: block;
  margin: 0 auto;
}